@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
.hero-button {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background: #9356dc;
  transition: 0.6s;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
.hero-button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(0deg, rgba(147, 75, 236, 0.9), rgba(255, 81, 206, 0.9));
  transition: 0.6s;
}

.container-block {
  width: 280px;
  margin: 20px 0px;
  padding: 20px 0px;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
}
.container-block .button-text {
  font-family: "Roboto", "sans-serif";
  font-weight: 300;
  font-size: 16px;
  transform: translateX(20px);
}
.container-block .fa-mobile-alt {
  transform: translateX(6px);
  color: gray;
}
.container-block .fa-list {
  transform: translateX(6px);
  color: gray;
}
.container-block .fa-store {
  transform: translateX(6px);
  color: gray;
}

.button-number {
  transform: translateX(-10px);
  background: #9356dc;
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Roboto", "sans-serif";
}

.menu-btn {
  max-width: 1440px;
  margin: auto;
  text-align: center;
  background-color: #f3f3f3b0;
  padding-bottom: 60px;
  padding-top: 30px;
}

.menu-btn button {
  margin: auto;
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: 0.6s;
}
.menu-btn button:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: linear-gradient(0deg, rgba(147, 75, 236, 0.9), rgba(255, 81, 206, 0.9));
  transition: 0.6s;
}

@media (max-width: 425px) {
  .hero-button {
    border: 0;
    padding: 0.5rem 1.4rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background: #9356dc;
    background: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  }
}
.footer {
  background-color: #353535;
  padding: 20px;
}

.footer-container {
  max-width: 1440px;
  margin: 0 auto;
}

.footer-logo {
  font-family: "Shrikhand", "cursive";
  color: #fff;
  padding-bottom: 12px;
}

.footer ul {
  list-style: none;
}

.footer a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", "sans-serif";
}

.footer li {
  padding: 4px 0 4px 0;
}

.footer span {
  padding-left: 6px;
}

.header {
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px;
  position: relative;
  z-index: 1000;
}
.header h1 {
  font-family: "Shrikhand", "cursive";
}

.gps-title {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  font-family: "Roboto", "sans-serif";
  font-size: 22px;
  background: #f3f3f3;
  position: relative;
}
.gps-title i {
  margin-right: 14px;
}

@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes appearm {
  0% {
    transform: translateY(40px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nouveau {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header i {
  position: absolute;
  left: 30px;
  display: flex;
  font-size: 1.2rem;
  top: 36px;
}
header a {
  color: #000;
}

.banner img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.title-container {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  max-width: 1440px;
  margin: -60px auto;
}

.title-container h2 {
  font-family: "Shrikhand", "cursive";
  padding: 20px;
}

.menu-section span {
  font-weight: bold;
}

.menu-container {
  background-color: #f6f6f6;
  max-width: 1440px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  font-family: "Roboto", "sans-serif";
  margin: auto;
  padding-top: 80px;
}
.menu-container .menu-section {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.menu-container .menu-section h4 {
  font-weight: 400;
  text-transform: uppercase;
  position: relative;
  font-size: 20px;
  margin-bottom: 30px;
}
.menu-container .menu-section h4::after {
  position: absolute;
  content: "";
  height: 4px;
  bottom: -8px;
  margin: 0 auto;
  left: 0;
  width: 50px;
  background: #99e2d0;
}
.menu-container .menu-1 {
  animation: appear 0.7s;
}
.menu-container .menu-2 {
  animation: appear 0.8s;
}
.menu-container .menu-3 {
  animation: appear 0.9s;
}
.menu-container .menu {
  padding: 1rem;
  background-color: #fff;
  display: flex;
  border-radius: 0.75rem;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
  justify-content: space-between;
  margin: 1rem 0;
}
.menu-container .menu .menu-name h5 {
  font-size: 16px;
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-container .menu .menu-name {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-container .menu .menu-name p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-container .menu span {
  display: flex;
  align-self: flex-end;
  margin-left: auto;
  transition: all 0.6s;
}
.menu-container .menu .check {
  background: #9ae3d1;
  width: 60px;
  color: white;
  margin: -16px;
  display: flex;
  border-radius: 0 12px 12px 0;
  transform: translateX(60px);
  transition: all 0.6s;
}
.menu-container .menu .check .fa-check-circle {
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  transform: rotate(360deg);
  transition: all 0.6s ease;
}
.menu-container .menu:hover .check {
  transform: translateX(0px);
}
.menu-container .menu:hover .fa-check-circle {
  width: 100%;
  transform: rotate(0deg);
}
.menu-container .menu:hover span {
  padding-right: 40px;
  transition: all 0.6s;
}
.menu-container .menu:hover .menu-name p {
  transition: all 0.6s;
}

@media (max-width: 1024px) {
  .menu-container {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1444px) {
  .menu-name {
    width: 80%;
  }
}
a {
  text-decoration: none;
}

.hero {
  text-align: center;
  font-family: "Roboto", "sans-serif";
  padding: 40px;
  background-color: #f3f3f3b0;
  position: relative;
  z-index: 999;
}
.hero .hero-paragraph {
  margin: 24px 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  padding: 20px;
}

.container-title {
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
}

.section-block {
  flex-wrap: wrap;
  display: flex;
  margin: 0px auto;
  justify-content: space-around;
}

.container-block:hover {
  cursor: pointer;
  background: #9356dc;
  background: linear-gradient(0deg, rgba(147, 86, 220, 0.6), rgba(255, 121, 218, 0.6));
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.grid-title {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Roboto", "sans-serif";
  padding: 20px 0 20px 0;
  font-size: 18px;
}

.grid-container {
  background-color: #f3f3f3b0;
  width: 100%;
  margin: 0px auto;
  padding: 20px;
}

.card {
  background: #fff;
  height: 400px;
  border-radius: 14px;
  cursor: pointer;
  transition: 0.3s ease-out;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: block;
  position: relative;
  max-width: 700px;
}

.card-image {
  height: 320px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 12px 12px 0 0;
  margin: 4px;
}

.card-section {
  justify-content: center;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1440px;
  margin: 0 auto;
}

.card-section > * {
  flex: 1 1 40%;
}

.car-1 {
  background-image: url(../img/menu1.jpg);
}

.car-2 {
  background-image: url(../img/menu2.jpg);
}

.car-3 {
  background-image: url(../img/menu3.jpg);
}

.car-4 {
  background-image: url(../img/menu4.jpg);
}

.card-text {
  font-family: "Roboto", "sans-serif";
  color: #000;
  padding: 16px 0 0 18px;
}
.card-text h5 {
  padding-top: 6px;
  font-weight: 300;
}

.fa-heart {
  position: absolute;
  right: 14px;
  bottom: 18px;
  font-size: 28px;
  color: #000;
}

.new {
  font-weight: 400;
  color: #000;
  line-height: 1;
  font-family: "Roboto";
  text-align: center;
  width: fit-content;
  padding: 3px;
  opacity: 0;
  position: absolute;
  top: 22px;
  right: 22px;
  background-color: #99e2d0;
  width: 120px;
  animation: nouveau 2s ease 0s infinite normal forwards;
}

@media (max-width: 1024px) {
  .card-section {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    margin: 0 auto;
    max-width: 1440px;
    margin: auto;
    display: grid;
    padding: 20px 20px 20px 20px;
    gap: 20px;
  }

  .card {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .card-image {
    height: 220px;
  }

  .card {
    height: 100%;
  }

  .card-text {
    font-family: "Roboto", "sans-serif";
    color: #000;
    padding: 16px 0 0 18px;
  }
  .card-text h5 {
    padding-bottom: 22px;
    font-weight: 300;
  }

  .grid-container {
    padding: 0;
  }
}
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: black;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-animation {
  position: relative;
  height: 125px;
  width: 125px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  border-left-color: #5cb85c;
  animation: rotate 1.2s linear;
}

@keyframes rotate {
  50% {
    border-left-color: #9b59b6;
  }
  75% {
    border-left-color: #e67e22;
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
label .check-icon {
  display: none;
}

label .check-icon:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 28px;
  transform: scaleX(-1) rotate(135deg);
  height: 56px;
  width: 28px;
  border-top: 4px solid #5cb85c;
  border-right: 4px solid #5cb85c;
  transform-origin: left top;
  animation: check-icon 0.8s ease;
}

@keyframes check-icon {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 28px;
    opacity: 1;
  }
  40% {
    height: 56px;
    width: 28px;
    opacity: 1;
  }
  100% {
    height: 56px;
    width: 28px;
    opacity: 1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fill {
  color: black;
  cursor: pointer;
}
.fill:hover {
  animation: fill 0.3s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
