@import "../abstracts/variables";
@import "../abstracts/animation";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  i {
    position: absolute;
    left: 30px;
    display: flex;
    font-size: 1.2rem;
    top: 36px;
  }

  a {
    color: #000;
  }
}

.banner img {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  object-fit: cover;
}

.title-container {
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
  max-width: 1440px;
  margin: -60px auto;
}

.title-container h2 {
  font-family: $Shrikhand;
  padding: 20px;
}

.menu-section span {
  font-weight: bold;
}

.menu-container {
  background-color: #f6f6f6;
  max-width: 1440px;
  grid-template-columns: repeat(3, 1fr);
  display: grid;
  font-family: $roboto;
  margin: auto;
  padding-top: 80px;

  .menu-section {
    max-width: 100%;
    overflow: hidden;
    padding: 0 1rem;
  }

  .menu-section h4 {
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .menu-section h4::after {
    position: absolute;
    content: "";
    height: 4px;
    bottom: -8px;
    margin: 0 auto;
    left: 0;
    width: 50px;
    background: $green;
  }

  .menu-1 {
    animation: appear 0.7s;
  }

  .menu-2 {
    animation: appear 0.8s;
  }

  .menu-3 {
    animation: appear 0.9s;
  }

  .menu {
    padding: 1rem;
    background-color: #fff;
    display: flex;
    border-radius: 0.75rem;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    overflow: hidden;
    cursor: pointer;
    max-width: 100%;
    justify-content: space-between;
    margin: 1rem 0;

    .menu-name h5 {
      font-size: 16px;
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .menu-name {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    .menu-name p {
      margin: 0;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    span {
      display: flex;
      align-self: flex-end;
      margin-left: auto;
      transition: all 0.6s;
    }

    .check {
      background: #9ae3d1;
      width: 60px;
      color: white;
      margin: -16px;
      display: flex;
      border-radius: 0 12px 12px 0;
      transform: translateX(60px);
      transition: all 0.6s;

      .fa-check-circle {
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        transform: rotate(360deg);
        transition: all 0.6s ease;
      }
    }

    &:hover .check {
      transform: translateX(0px);
    }

    &:hover .fa-check-circle {
      width: 100%;
      transform: rotate(0deg);
    }

    &:hover span {
      padding-right: 40px;
      transition: all 0.6s;
    }

    &:hover .menu-name p {
      transition: all 0.6s;
    }
  }
}

@media (max-width: 1024px) {
  .menu-container {
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1444px) {
  .menu-name {
    width: 80%;
  }
}
